<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShadowsocksFreeServerFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="sfsf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <ShadowsocksFreeServerFetcher.Properties.Settings>
            <setting name="ShadowsockFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="ChosenServerCountry" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdateInterval" serializeAs="String">
                <value>10</value>
            </setting>
        </ShadowsocksFreeServerFetcher.Properties.Settings>
        <sfsf.Properties.Settings>
            <setting name="ShadowsockFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value/>
            </setting>
            <setting name="CurrentUpdateSource" serializeAs="String">
                <value>ishadowsocks.org</value>
            </setting>
        </sfsf.Properties.Settings>
    </userSettings>
    <system.net>
        <defaultProxy>
            <proxy usesystemdefault="True" />
        </defaultProxy>
    </system.net>
</configuration>
